*{
margin: 0px;
padding: 0px;
}

body {
    background-color: #212121;
    min-width:1040px;
}

.header {
    position: absolute;
    width: 1040px;
    left: 50%;
    margin-left: -520px;
}
#page-content {
width: 1040px;
margin-left: auto;
margin-right: auto;
}
#fader{
    -webkit-appearance: none;
    background-color: #8B9DA6;
}
.rounded {
    background: url("/imdb_project/static/images/SectionHeaderBackground.png");
    background-repeat: repeat-x;
    border-radius: 7px;
    height:75px;
}
#submit {
    font-size:30px;
    border:1px;
    font-family: "Impact", Charcoal, sans-serif;
    color: black;
    text-align:center;
    background:rgba(255, 255, 255, 0);
    height:75px;
    width: 260px;
}
h2 {
    font-size:35px;
    text-align:center;
    margin-top:0px;
    margin-bottom:30px;
    font-family: "Impact", Charcoal, sans-serif;
    color: black;
}
ul {
    font-family: "Verdana", Geneva, sans-serif;
    padding-left:40px;
}
p {
    font-family: "Verdana", Geneva, sans-serif;
}
.choices {
    background-color: #8B9DA6;
    background-image: url("/imdb_project/static/images/SectionBodyBackground.png");
    background-repeat: repeat-x;
    position: absolute;
    width: 300px;
    height: 790px;
    padding: 20px;
    left: 50%;
    margin-left: -520px;
    margin-top: 282px;
    margin-bottom: 20px;
    }
.choices label{
    padding-top: 7px;
}
.visualizations {
    background-color: #8B9DA6;
    background-image: url("/imdb_project/static/images/SectionBodyBackground.png");
    background-repeat: repeat-x;
    position: absolute;
    margin-top: 282px;
    margin-left:-200px;
    width: 720px;
    height: 570px;
    padding: 20px;
    left: 50%;
}

.suggested {
    position: absolute;
    background-color: #8B9DA6;
    background-image: url("/imdb_project/static/images/SectionBodyBackground.png");
    background-repeat: repeat-x;
    width: 720px;
    height: 200px;
    left: 50%;
    padding: 20px;
    margin-top: 872px;
    margin-left: -200px;
    margin-bottom: 20px;
}
#newfader{
    width:100px;
    display:inline;
}
#similarList{
    padding-top:0px;
    text-align:center;
}
#similarList li{
    display:inline;
    list-style-type:none;
    padding-right: 20px;
}

#visualizationList li{
    display:inline;
    list-style-type:none;
    padding-right: 20px;
}
#visInteractions {
    visibility:hidden;
    position:absolute;
    padding:10px;
    bottom:0;
}
.ajaxresults{
    background: #ffffff;
    padding: 5px 10px;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    z-index: 99;
    border: 1px solid #A9A9A9;
    border-width: 0 1px 1px 1px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    -box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.ajaxresults a{
    color:#666666;
}
input[type=text]{
    font-size:12px;
    color:#666666;
    background-color:#ffffff;
    padding-top:5px;
    width:250px;
    height:20px;
    border:1px solid #999999;
}
