{{extend 'layout.html'}}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IMDB Predictor</title>
  <meta name="description" content="IMDB Predictor">
  <meta name="author" content="IMDB Predictions">
  <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="{{=URL(r=request,c='static',f='jquery.js')}}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function(){
        hide();
    });
    function getData(field, value){
        if(value != "" && value.length >= 3){
            if (field == "actors") {
                $("#actorAutocomplete").show();
                $.post("{{=URL(r=request,f='actorLiveSearch')}}",{partialstr:value},function(result){
                    $("#actorAutocomplete").html(result);
                });
            } 
            else if (field == "movies") {
                $("#movieAutocomplete").show();
                $.post("{{=URL(r=request,f='movieLiveSearch')}}",{partialstr:value},function(result){
                    $("#movieAutocomplete").html(result);
                });
            }
            else if (field == "directors") {
                $("#directorAutocomplete").show();
                $.post("{{=URL(r=request,f='directorLiveSearch')}}",{partialstr:value},function(result){
                    $("#directorAutocomplete").html(result);
                });
            }
            else if (field == "writers") {
                $("#writerAutocomplete").show();
                $.post("{{=URL(r=request,f='writerLiveSearch')}}",{partialstr:value},function(result){
                    $("writerAutocomplete").html(result);
                });
            }
            else if (field == "producers") {
                $("#producerAutocomplete").show();
                $.post("{{=URL(r=request,f='producerLiveSearch')}}",{partialstr:value},function(result){
                    $("#producerAutocomplete").html(result);
                });
            }
        }else{
            hide();
        }
    }

    function hide(){
        $(".ajaxresults").hide();
    }

    function copyToBox(value){
        $("#actors").val(value);
        hide();
    }
    </script>
</head>

<body>
  <script src="js/scripts.js"></script>
  <script src="/imdb_project/static/dropdown.js"></script>
  <div class="header">
      <a href="/imdb_project/views/frontPage/index">
          <img src="/imdb_project/static/images/IMDBPredictorLogoCropped.png" style="width:1040px;height:262px" />
      </a>
  </div>
  <div id="page-content">
      <div class="choices">
          <h2>
              Search Terms:
          </h2>
          <p>
              To automatically fill the boxes, select a movie from the list above or type a movie title into the box below.
          </p>
          <h4>

              <label>Movies:</label> <br />
              <input type="text" id="movies" name="movies" class = "searchbox" autocomplete="off" onkeyup="getData(this.id, this.value);" /><br />
              <div id="movieAutocomplete" class = "ajaxresults"></div>
          </h4>
          <p>
              Please type your search terms into the boxes below, or choose one of the suggested searches.
          </p>
          <h4>

              <label>Actors:</label> <br />
              <input type="text" id="actors" name="actors" class = "searchbox" autocomplete="off" onkeyup="getData(this.id, this.value);" /><br />
              <div id="actorAutocomplete" class = "ajaxresults"></div>
          </h4>
          <h4>
              <label>Directors:</label>  <br />
              <input type="text" id="directors" name="directors" autocomplete="off" onkeyup="getData(this.id, this.value);" /><br />
              <div id="directorAutocomplete" class = "ajaxresults"></div>
          </h4>
          <h4>
              <label>Writers:</label>  <br />
              <input type="text" id="writers" name="writers" autocomplete="off" onkeyup="getData(this.id, this.value);" /><br />
              <div id="writerAutocomplete" class = "ajaxresults"></div>
          </h4>
          <h4>
              <label>Producers:</label>       <br />
              <input type="text" id="producers" name="producers" autocomplete="off" onkeyup="getData(this.id, this.value);" /><br />
              <div id="producerAutocomplete" class = "ajaxresults"></div>
          </h4>
          <h4>
              <label>Genres:</label>
              <div id="list1" class="dropdown-check-list" tabindex="100">
                  <span class="anchor">Select Genres:</span>
                  <ul class="items">
                      <li><input type="checkbox" value="Crime" />Crime</li>
                      <li><input type="checkbox" value="Drama" />Drama</li>
                      <li><input type="checkbox" value="Action" />Action</li>
                      <li><input type="checkbox" value="Adventure" />Adventure</li>
                      <li><input type="checkbox" value="Fantasy" />Fantasy</li>
                      <li><input type="checkbox" value="Sci-Fi" />Sci-Fi</li>
                      <li><input type="checkbox" value="Comedy" />Comedy</li>
                      <li><input type="checkbox" value="Family" />Family</li>
                      <li><input type="checkbox" value="Thriller" />Thriller</li>
                      <li><input type="checkbox" value="Animation" />Animation</li>
                      <li><input type="checkbox" value="Musical" />Musical</li>
                      <li><input type="checkbox" value="Mystery" />Mystery</li>
                      <li><input type="checkbox" value="War" />War</li>
                      <li><input type="checkbox" value="Horror" />Horror</li>
                      <li><input type="checkbox" value="Western" />Western</li>
                      <li><input type="checkbox" value="Sport" />Sport</li>
                      <li><input type="checkbox" value="Romance" />Romance</li>
                      <li><input type="checkbox" value="Music" />Music</li>
                      <li><input type="checkbox" value="Biography" />Biography</li>
                      <li><input type="checkbox" value="History" />History</li>
                      <li><input type="checkbox" value="Documentary" />Documentary</li>
                      <li><input type="checkbox" value="Short" />Short</li>
                      <li><input type="checkbox" value="News" />News</li>
                      <li><input type="checkbox" value="Reality-TV" />Reality-TV</li>
                  </ul>
              </div>
              <script type="text/javascript">
                  var checkList = document.getElementById('list1');
                  checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
                      if (checkList.classList.contains('visible'))
                          checkList.classList.remove('visible');
                      else
                          checkList.classList.add('visible');
                  }

                  checkList.onblur = function(evt) {
                      checkList.classList.remove('visible');
                  }
              </script>
          </h4>
          <h4>
              <label for=MPAA>MPAA Rating:</label>
              <select id=MPAA>
              <option value="G">G</option>
              <option value="PG">PG</option>
              <option value="PG13">PG-13</option>
              <option value="R">R</option>
              <option value="NC17">NC-17</option>
              <option value="NR">Not Rated</option>
              <option value="UR">Unrated</option>
              </select>
          </h4>
          <h4>
              <label for=fader>Budget: <output for=fader id=budget>$500000</output></label>
              <input type=range min=0 max=3000000 value=500000 id=fader step=10000 oninput="outputUpdate(value)">
              <script>
                function outputUpdate(budget) {
                    document.querySelector('#budget').value = "$"+budget;
                }
              </script>
          </h4>
          <div class="rounded">
              <input id="submit" type="button" value="Search">
          </div>
      </div>
      <div class="visualizations">
          <h2>
              Visualizations:
          </h2>
      </div>
      <div class="suggested">
          <h2>
              Upcoming Movies:
          </h2>
          <ul>
              <li><a href="url">Mad Max: Fury Road</a></li>
              <li><a href="url">Pitch Perfect 2</a></li>
              <li><a href="url">I'll See You in My Dreams</a></li>
              <li><a href="url">Good Kill</a></li>
              <li><a href="url">The Connection</a></li>
              <li><a href="url">Set Fire to the Stars</a></li>
          </ul>
      </div>
  </div>
</body>
</html>
