<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IMDB Predictor</title>
  <meta name="description" content="IMDB Predictor">
  <meta name="author" content="IMDB Predictions">
</head>

<body>
  <script src="js/scripts.js"></script>
  <div>
      <h1>
          IMDB Predictor
      </h1>
  </div>
  <div class="choices">
      <h2>
          Search:
      </h2>
      <p>
          Please type your search terms into the boxes below, or choose one of the suggested searches.
      </p>
      <h4>
          Actors:      <input type="text" name="Actor1"><br>
      </h4>
      <h4>
          Directors:      <input type="text" name="Director1"><br>
      </h4>
      <h4>
          Writer:      <input type="text" name="Writer1"><br>
      </h4>
      <h4>
          Producers:       <input type="text" name="Producer1"><br>
      </h4>
      <h4>
          Genres: <select>
          <option value="Crime">Crime</option>
          <option value="Drama">Drama</option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Comedy">Comedy</option>
          <option value="Family">Family</option>
          <option value="Thriller">Thriller</option>
          <option value="Animation">Animation</option>
          <option value="Musical">Musical</option>
          <option value="Mystery">Mystery</option>
          <option value="War">War</option>
          <option value="Horror">Horror</option>
          <option value="Western">Western</option>
          <option value="Sport">Sport</option>
          <option value="Romance">Romance</option>
          <option value="Music">Music</option>
          <option value="Biography">Biography</option>
          <option value="History">History</option>
          <option value="Documentary">Documentary</option>
          <option value="Short">Short</option>
          <option value="News">News</option>
          <option value="Reality-TV">Reality-TV</option>
          </select>
      </h4>
      <h4>
          MPAA Rating: <select>
          <option value="G">G</option>
          <option value="PG">PG</option>
          <option value="PG13">PG-13</option>
          <option value="R">R</option>
          <option value="NC17">NC-17</option>
          <option value="NR">Not Rated</option>
          <option value="UR">Unrated</option>
          </select>
      </h4>
      <h4>
          Budget: <input type="range"  min="0" max="1000000" />
      </h4>
  </div>
  <div class="visualizations">
      <h1>
          Visualizations:
      </h1>
  </div>
  <div class="suggested">
      <h1>
          Suggested Movie Searches:
      </h1>
      <ul>
          <li><a href="url">Search 1</a></li>
          <li><a href="url">Search 2</a></li>
          <li><a href="url">Search 3</a></li>
          <li><a href="url">Search 4</a></li>
          <li><a href="url">Search 5</a></li>
          <li><a href="url">Search 6</a></li>
      </ul>
  </div>
  <div>
      <h1>
          Footer
      </h1>
    </div>
</body>
</html>
